<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://source.unsplash.com/H5bGh1SEzrI/1920x1098);">
  <div class="container">
    <h1>Yummy <strong>cocktails</strong></h1>
    <p>Do your own and enjoy... cheers !</p>
    <%= link_to "Add a cocktail", new_cocktail_path, class: "btn btn-flat" %>
  </div>
</div>

<div class="container py-5">
  <div class="cards">
      <% @cocktails.each do |cocktail| %>
        <%= link_to cocktail_path(cocktail) do %>
          <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path cocktail.photo.key %>')">
            <%= cocktail.name %>
          </div>
        <% end %>
      <% end %>
  </div>
</div>
